<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Ime %><br>
    <%= f.text_field :Ime %>
  </div>
  <div class="field">
    <%= f.label :Prezime %><br>
    <%= f.text_field :Prezime %>
  </div>
  <div class="field">
    <%= f.label :Zanimanje %><br>
    <%= f.text_field :Zanimanje %>
  </div>
  <div class="field">
  <%= f.fields_for(:firms, Firm.new) do |builder| %>
    <%= builder.label :ime_firme, "Ime Firme" %><br>
    <%= builder.text_field :ime_firme %>
  <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
