<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Ime %><br>
    <%= f.text_field :Ime, required: true %>
  </div>
  <div class="field">
    <%= f.label :Prezime %><br>
    <%= f.text_field :Prezime, required: true %>
  </div>
  <div class="field">
    <%= f.label :Zanimanje %><br>
    <%= f.text_field :Zanimanje, required: true %>
  </div>
  <div class="field">
    <%= f.label :firm_id, "Ime Firme" %><br>
    <%= f.collection_select :firm_id, Firm.all, :id, :ime_firme, :include_blank => true %>  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
