<div class="wrapper">
  <h1>Zaposleni</h1>
  <p id="notice"><%= notice %></p>
  <table class="table">
    <thead>
      <tr class="row header blue">
        <th class="cell">Ime</th>
        <th class="cell">Prezime</th>
        <th class="cell">Zanimanje</th>
        <th class="cell">Ime firme </th>
        <th class="cell" colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @employees.each do |employee| %>
        <tr class="row">
          <td class="cell"><%= employee.Ime %></td>
          <td class="cell"><%= employee.Prezime %></td>
          <td class="cell"><%= employee.Zanimanje %></td>
          <td class="cell"><%= employee.firms.last.ime_firme if employee.firms.last %></td>
          <td class="cell"><%= link_to 'Prikaži', employee %></td>
          <td class="cell"><%= link_to 'Promeni', edit_employee_path(employee) %></td>
          <td class="cell"><%= link_to 'Obriši', employee, method: :delete, data: { confirm: 'Da li ste sigurni?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'Novi zaposleni', new_employee_path %><br>
  <%= link_to 'Istorija promene firmi zaposlenih', root_path %><br>
  <%= link_to 'Lista firmi', firms_path %> </div>

